*/bin/*
bin/

*.class

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Eclipse
.settings/
*.project
*.classpath
.prefs
*.prefs
.metadata/

# Intellij
.idea/
*.iml
*.iws
out/

# Maven
log/*
target/

# Mac
.DS_Store

# Gradle
.gradle/

